<div class="button">
  <a href= <%= "#{@user_move = 'rock'}" %>>  
    Rock 
  </a>
</div> 

<div class="button">
  <a href= <%= "#{@user_move = 'paper'}" %>>  
    Paper 
  </a>
</div> 

<div class="button">
  <a href= <%= "#{@user_move = 'paper'}" %>>  
    Scissors 
  </a>
</div> 